.pokemon-details-wrapper{
    font-size:xx-large;
    color:gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pokemon-types{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.type-content{
    padding: 5px 25px;
    background-color:rgb(46, 190, 190);
    border-radius: 10px;
    text-align: center;
    color: white;
    
}